
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 200px;
    background-color: var(--gray-700);
    font-size: 48px;
    font-weight: 700;
    line-height: 3rem;
}

img {
    margin: 0.6rem;
}

.to {
    color: var(--blue);
}

.do {
    color: var(--purple-dark);
}

